<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="r">
  <p class="r-300">300</p>
  <p class="r-400">300</p>
  <p class="r-500">300</p>
  <p class="r-700">300</p>
</div>
<br />
<div class="u">
  <p class="u-300">300</p>
  <p class="u-400">300</p>
  <p class="u-500">300</p>
  <p class="u-700">300</p>
</div>
